.conversionField {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
}

.conversionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}